{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnectionString": "Server=localhost;Database={YourDB};Trusted_Connection=True;TrustServerCertificate=True"
    }
  }
